<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>API Client UI</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link href="../../src/styles/m3/tokens.css" rel="stylesheet" type="text/css" />
  <link href="../../src/styles/m3/theme.css" rel="stylesheet" type="text/css" />
  <link href="../page.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main>
    <h1>The base UI components library</h1>
    <a href="../">Back</a>
    <nav>
      <h2>Elements</h2>
      <dl>
        <dt><a href="buttons/button.html">button</a></dt>
        <dd>A Material 3 button.</dd>
        <dt><a href="buttons/group.html">button group</a></dt>
        <dd>A Material 3 button group.</dd>
        <dt><a href="checkbox/index.html">checkbox</a></dt>
        <dd>A Material 3 checkbox.</dd>
        <dt><a href="chip/chip.html">chip</a></dt>
        <dd>A Material 3 chip.</dd>
        <dt><a href="collapse/collapse.html">collapse</a></dt>
        <dd>An animated collapse element.</dd>
        <dt><a href="date-picker/index.html">date-picker</a></dt>
        <dd>A Material 3 date picker element.</dd>
        <dt><a href="dialog/dialog.html">dialog</a></dt>
        <dd>A Material 3 dialog element.</dd>
        <dt><a href="dialog/confirm-dialog.html">confirm-dialog</a></dt>
        <dd>A Material 3 confirm-dialog element.</dd>
        <dt><a href="dropdown-list/index.html">dropdown-list</a></dt>
        <dd>A Material 3 dropdown-list.</dd>
        <dt><a href="focus-ring/index.html">focus-ring</a></dt>
        <dd>A Material 3 focus ring.</dd>
        <dt><a href="icon-button/index.html">icon-button</a></dt>
        <dd>A Material 3 icon button.</dd>
        <dt><a href="list/list.html">list</a></dt>
        <dd>A Material 3 list and list item.</dd>
        <dt><a href="dropdown-list/index.html">dropdown-list</a></dt>
        <dd>A Material 3 dropdown-list.</dd>
        <dt><a href="listbox/listbox.html">listbox</a></dt>
        <dd>A Material 3 listbox.</dd>
        <dt><a href="menu/index.html">menu</a></dt>
        <dd>A Material 3 menu.</dd>
        <dt><a href="select/index.html">select</a></dt>
        <dd>A Material 3 select.</dd>
        <dt><a href="inputs/switch.html">switch</a></dt>
        <dd>A Material 3 switch.</dd>

        <dt><a href="progress/progress.html">progress</a></dt>
        <dd>A Material 3 progress element.</dd>


        <dt><a href="inputs/input.html">Text field</a></dt>
        <dd>A Material 3 text field and text area.</dd>
        <dt><a href="notification/snack.html">snackbar</a></dt>
        <dd>A Material 3 snackbar notification.</dd>
        <dt><a href="segmented-button/index.html">segmented-button</a></dt>
        <dd>A Material 3 segmented buttons.</dd>
        <dt><a href="inputs/radio.html">radio</a></dt>
        <dd>A Material 3 radio input.</dd>
        <dt><a href="tabs/tabs.html">tabs</a></dt>
        <dd>A Material 3 tabs.</dd>

        <dt><a href="styles/theme.html">theme</a></dt>
        <dd>A Material 3 theme.</dd>
      </dl>
    </nav>
  </main>
</body>
</html>
